<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Add other sources here -->
  </packageSources>
  
  <activePackageSource>
    <!-- Only one source can be active at a time -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <!-- Other configuration settings -->
  <config>
    <add key="repositoryPath" value="packages" />
    <!-- Add other configuration settings here -->
  </config>

  <!-- Package restore settings -->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <!-- Binding redirects -->
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
